@charset "UTF-8"; 
    
*{
    height: ;
}

body {
    font-family: sans-serif; 
    background-image: linear-gradient(45deg,cyan,yellow);
    background-attachment:fixed;
}
header {
    padding: 8px 24px;
    background-image: linear-gradient(45deg,cyan,yellow);
    align-items:center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
header img{
    width: 110px;
}
header p {
    font-weight: 900;
}
.eu {
    text-align: center;
    
}
.eu a{    
    padding: 20px 18px 0 ;
   
}
